
Django==5.1.*
djangorestframework==3.15.*
django-allauth==0.63.*
djangorestframework-simplejwt==5.3.*
django-filter==24.*
django-cors-headers==4.4.*
django-storages[s3]==1.14.*
Pillow==10.*
dj-database-url==2.*
psycopg2-binary==2.9.*
python-decouple==3.8
argon2-cffi==23.*
gunicorn==22.*
whitenoise==6.*
sentry-sdk[django]==2.*
requests==2.32.*
boto3==1.34.*
stripe==9.*
cloudinary
django-cloudinary-storage